Welcome to Propel!

View your goals below:

<% @goals.each do |goal| %>
  <%= content_tag :p, goal.title %>
  <%= content_tag :p, goal.body %>
<% end %>

<nav>
  <ul>
    <li><%= link_to "View All Goals", goals_path %></li>
    <li><%= link_to "Create a New Goal", new_goal_path %></li>
  </ul>
</nav>