<!-- display an index of all goals -->
<h1>Current Goals:</h1>

<% @goals.each do |goal| %>
  <%= content_tag :p, goal.title %>
  <%= content_tag :p, goal.body %>
<% end %>

<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Create a New Goal", new_goal_path %></li>
  </ul>
</nav>