@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  padding-left: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.main-title {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  //letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}